body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.container {
  /* width: 1158px; */
  /* padding: 0 15px; */
  padding: 0 16px;
  width: 320px;
  margin: 0 auto;
}
.section {
  /* padding: 120px 0; */
  padding: 96px 0;
}
/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.head-logo {
  /* padding: 24px 0; */
  padding: 16px 0;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.head-logo-separator {
  color: #2e2f42;
}
.head-navigation {
  /* display: flex; */
  display: none;
  align-items: center;
  gap: 40px;
}
.head-adress {
  /* display: flex; */
  display: none;
  align-items: center;
  gap: 40px;
}
.head-navigation,
.head-adress {
  list-style-type: none;
}
.head-navigation-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-navigation-link:hover,
.head-navigation-link:focus,
.head-navigation-link.current-page {
  color: #404bbf;
}
.head-navigation-link.current-page {
  position: relative;
}
.head-navigation-link.current-page::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}
.add {
  font-style: normal;
  margin-left: auto;
}
.head-adress-link {
  display: block;
  text-decoration: none;
  text-transform: lowercase;
  padding: 24px 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-adress-link:hover,
.head-adress-link:focus {
  color: #404bbf;
}
.mob-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-btn {
  padding: 4.8px 3.6px;
}
/* main */

/* hero */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;
}
@media screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mob@2x.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  /* font-size: 56px;
  line-height: 1.07; */
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
  /* max-width: 496px; */
  max-width: 216px;
}
.hero-btn {
  display: block;
  background-color: #4d5ae5;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* advantages */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-container-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
  list-style-type: none;
}
.advantages-container-item {
  /* width: calc((100% - 72px) / 4); */
  width: 288px;
}
.advantages-container-item-top {
  display: none;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 100%; */
  /* height: 112px; */
  /* background-color: #f4f4fd; */
  /* border: 1px solid #8e8f99; */
  /* border-radius: 4px; */
  /* margin-bottom: 8px; */
}
.advantages-container-name {
  text-align: center;
  margin-bottom: 8px;
  /* font-weight: 500; */
  /* font-size: 20px; */
  /* line-height: 1.2; */
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-container-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* team */

.team-container {
  background-color: #f4f4fd;
}
.team-container-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-container-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
  list-style-type: none;
}
.team-container-card {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  /* width: calc((100% - 72px) / 4); */
  width: 264px;
  background-color: #fff;
}
.team-container-card-text {
  padding: 32px 0;
}
.team-container-card-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-container-card-profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
.team-container-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 24px;
}
.team-container-soc-list-item {
  width: 40px;
  height: 40px;
}
.team-container-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-container-soc-link:hover,
.team-container-soc-link:focus {
  background-color: #404bbf;
}
.team-container-soc-icon {
  fill: #f4f4fd;
}

/* portfolio */

.portfolio-container-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  list-style-type: none;
}
.portfolio-container-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-container-card {
  position: relative;
  overflow: hidden;
}
.portfolio-container-overflow {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container-list-item:hover .portfolio-container-overflow {
  transform: translateY(0);
}
.portfolio-container-list-item-text {
  text-align: left;
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.portfolio-container-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-container-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

footer {
  background-color: #2e2f42;
  /* padding: 100px 0px; */
  padding: 100px 0px;
}
.foot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.foot-title {
  /* margin-right: 120px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.foot-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.foot-logo-separator {
  color: #f4f4fd;
}
.foot-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.foot-soc-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}
.foot-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 16px;
  margin-bottom: 72px;
}
.foot-soc-list-item {
  width: 40px;
  height: 40px;
}
.foot-soc-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-soc-list-link:hover,
.foot-soc-list-link:focus {
  background-color: #31d0aa;
}
.foot-soc-list-icon {
  fill: #f4f4fd;
}
.footer-form-wrap {
  /* margin-left: auto; */
}
.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.footer-form-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}
.footer-form-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  height: 40px;
  min-width: 165px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn.focus {
  background-color: #404bbf;
}
.footer-form-icon {
  margin-left: 16px;
  fill: #fff;
}
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal-close-bnt {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-bottom: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-bnt:hover,
.modal-close-bnt:focus {
  background-color: #404bbf;
  border: 0;
}
.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-bnt:hover .modal-close-icon,
.modal-close-bnt:focus .modal-close-icon {
  fill: #fff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-right: auto;
  margin-bottom: 4px;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 11px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-input-wrap {
  position: relative;
}
.modal-input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textfield {
  margin-bottom: 16px;
}
.modal-textarea {
  resize: none;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-checkfield {
  margin-right: auto;
  margin-bottom: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-check-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden:checked + .modal-label > .modal-check-span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.modal-link {
  color: #4d5ae5;
}
.modal-send-btn {
  border: 0;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .head-navigation {
    display: flex;
  }
  .head-adress {
    display: flex;
  }
  .menu-btn {
    display: none;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }
  @media screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tab@2x.jpg);
    }
  .hero-title {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 26px;
    max-width: 496px;
  }
  .advantages-container-list {
    gap: 24px;
  }
  .advantages-container-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-container-name {
    text-align: start;
  }
  .team {
    width: 552px;
  }
  .team-container-list {
    gap: 24px;
  }
  .team-container-card {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-container-list {
    gap: 72px 24px;
  }
  .portfolio-container-list-item {
    width: calc((100% - 24px) / 2);
  }
  .foot-container {
    width: 552px;
    justify-content: flex-start;
  }
  .foot-title {
    display: block;
    margin-right: 24px;
  }
  .foot-soc-text {
    text-align: start;
  }
  .footer-form {
    gap: 24px;
    margin-right: auto;
  }
  .footer-form-text {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding: 120px 0;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desk.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }
  @media screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-desk@2x.jpg);
    }
  .hero-title {
    margin-bottom: 48px;
  }
  .advantages-container-list {
    gap: 24px;
  }
  .advantages-container-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-container-item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .advantages-container-name {
    text-align: start;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .advantages-container-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .team-container-list {
    gap: 24px;
  }
  .team-container-card {
    width: calc((100% - 72px) / 4);
  }
  .portfolio-container-list-item {
    width: calc((100% - 48px) / 3);
  }
  .foot-title {
    margin-right: 120px;
  }
  .footer-form-wrap {
    margin-left: auto;
  }
}